@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

h2 {
  display: flex;
  justify-content: center;
  font-style: italic;
}

h4 {
  display: flex;
  justify-content: center;
}

p {
  margin-top: 30px;
  margin: 30px;
  padding: 30px;
}

header {
  height: 70vh;
  background: url(media/manette.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

@media screen and (max-width: 920px) and (min-width: 550px) {
  header {
    height: 60vh;
  }
}

@media screen and (max-width: 345px) {
  header {
    height: 80vh;
  }
}


/********************* NAVIGATION ************************/

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

header nav a:hover {
  color: antiquewhite;
  border-bottom: 1px solid black;
}

header .title {
  margin-top: 40px;
}

header .title h4 {
  padding: 20px;
  margin-top: -20px;
}

header .title h1 {
  font-size: 5rem;
}

.logo {
  font-size: x-large;
}


.menu-burger {
  display: none;
  position: absolute;
  right: 50px;
  width: 35px;
}

@media screen and (max-width: 700px) {
  .menu-burger {
    display: block;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin-left: -100%;
    transition: all 0.5s ease;
  }

  .nav-links a {
    margin: 25px 0;
    font-size: 1.2em;
  }
}

/************************* PRESENTATION *****************/

.presentation {
  background-color: #222f3e;
  padding-top: 30px;
}

#carouselExampleControls {
  width: 60%;
  margin: auto;
  margin-top: 30px;
  box-shadow: 7px 5px 15px 1px rgba(0, 0, 0, 0.84);
}

@media screen and (max-width: 1200px) {
  #carouselExampleControls {
    width: 90vw;
    margin: auto;
    margin-top: 30px;
  }
}

/************************** INFOS PRATIQUES *******************/

.pratical-infos {
  background-color: #404750;
  padding-top: 30px;
}


.pratical-infos img {
  float: right;
  height: 400px;
  margin-right: 30px;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media screen and (max-width : 800px) {
  .pratical-infos img {
    display: none;
  }
}

/************************** FOOTER ***********************/

.contact {
  background-color: #222f3e;
  padding-top: 30px;
}