@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}


header {
  background: url(media/manettehandicap2.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 70vh;
}

p {
  margin: 30px;
  padding: 30px;
}

h2 {
  text-align: center;
  font-style: italic;
}

h1 {
  text-align: center;
  font-style: italic;
}

h4 {
  text-align: center;
  font-style: italic;
  font-weight: bold !important;
  padding-top: 100px;
}

@media screen and (max-width : 660px) {
  header {
    background: url(media/manettehandicap2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 50vh;
  }
}

/******************************* NAVIGATION ***********************/

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

header nav a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

header nav a:hover {
  color: rgb(240, 141, 12);
  border-bottom: 1px solid black;
}


.logo {
  font-size: x-large;
}

.logo i {
  color: black;
}


.menu-burger {
  display: none;
  position: absolute;
  right: 50px;
  width: 35px;
}

@media screen and (max-width: 920px) and (min-width: 550px) {
  header {
    height: 60vh;
  }
}

@media screen and (max-width: 345px) {
  header {
    height: 80vh;
  }
}

@media screen and (max-width: 700px) {
  .menu-burger {
    display: block;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin-left: -100%;
    transition: all 0.5s ease;
  }

  .nav-links a {
    margin: 25px 0;
    font-size: 1.2em;
  }
}

/************************ PRESENTATION ***********************/

.presentation {
  background-color: #4c5661;
  padding-top: 40px;
}


.lign {
  height: 1px;
  width: auto;
  background-color: #FFFAE1;
}

/********************* EXPLICATION *********************/

.explication {
  background-color: #4c5661;
}

.explication h2 {
  padding-top: 60px;
}


.manette-adaptative {
  display: flex;
  justify-content: center;
}

.manette-adaptative img {
  margin: 50px 50px 50px 80px;
  width: 40%;
  border-radius: 4%;
  box-shadow: 1px 4px 20px 4px #020202;
}

.video {
  margin: auto;
  display: flex;
  justify-content: center;
}

.secondLign {
  height: 1px;
  width: auto;
  background-color: #FFFAE1;
  margin-top: 80px;
}

.asso-image {
  display: flex;
  justify-content: center;
}

.asso-image img {
  width: 30%;
  border-radius: 4%;
  box-shadow: 1px 4px 20px 4px #020202;
}

@media screen and (max-width: 900px) {
  .manette-adaptative img {
    width: 40%;
    height: auto;
    margin: 30px 30px 30px 20px;
  }
}

@media screen and (max-width: 600px) {
  .asso-image img {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .video {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .manette-adaptative img {
    width: 95%;
  }

  .manette-adaptative {
    display: flex;
    flex-wrap: wrap;
  }
}

/************************** FOOTER ************************/


footer {
  background-color: #4c5661;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  color: #f0f087;
  font-size: 1em;
  margin: 10px
}

footer a:hover {
  color: antiquewhite;
}

footer i {
  font-size: 2em;
  margin: 10px;
}


@media screen and (max-width: 570px) {
  footer i {
    display: none;
  }
}