@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}

header {
  height: 80vh;
  background: url(media/manette.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
}

/********************* NAVIGATION ************************/

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

header nav a:hover {
  color: antiquewhite;
  border-bottom: 1px solid black;
}

header .title {
  margin-top: 40px;
}

header .title h4 {
  padding: 20px;
  margin-top: -20px;
}

header .title h1 {
  font-size: 5rem;
}

.logo {
  font-size: x-large;
}

.menu-burger {
  display: none;
  position: absolute;
  right: 50px;
  width: 35px;
}


@media screen and (max-width: 700px) {
  .menu-burger {
    display: block;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin-left: -100%;
    transition: all 0.5s ease;
  }

  .nav-links a {
    margin: 25px 0;
    font-size: 1.2em;
  }
}

.presentation {
  background-color: #222f3e;
  color: #fff;
}

.subtitle {
  display: flex;
  justify-content: center;
  font-style: italic;
}

.info {
  padding-top: 30px;
}

.info p {
  margin-top: 30px;
  margin: 30px;
}

#carouselExampleControls {
  width: 40%;
  margin: auto;
  margin-top: 30px;
}